* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    /* color: greenyellow; */
    font-family: sans-serif;
}

#beat-one {
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#beat-two {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    width: 100vw;
    height: 100vh;
}

#project-overlay {
    position: absolute;
    background: rgba(119, 146, 236, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    inset: 4em;
    z-index: 10;
    display: none;
    overflow-y: auto;
    overflow-x: hidden; 
    padding: 6rem;
}

#project-overlay.visible {
    display: block;
    justify-content: center;
    align-items: center; 
}

.project-header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 2rem;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 10rem;

}

.project-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    align-items: start;
}

@media (max-width: 1200px) {
  .project-header {
    grid-template-columns: 1fr;
    margin-bottom: 2rem !important;
  }

  .project-media {
    grid-column: 1 !important;
    width: 100%;
    min-width: 0;
  }

  .project-body {
    grid-template-columns: 1fr;
  }

  .project-sidebar {
    position: static !important;
    top: auto;
    margin-bottom: 4rem;
  }
  
  .sidebar-elements {
    height: 100% !important;
}

}


.project-media img {
    margin-bottom: 2rem !important;
}

#role, #credits, #project-tools {
    border-top: solid;
    border-width: 1px;
    border-color:  rgb(0, 0, 0);
    padding-top: 4rem;
}

 .project-media img {
    width: 100%;
    object-fit: contain;
    height: auto;
    display: block;
    margin-bottom: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.video-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}



.project-description,
.project-media {
    min-width: 0;
}

#project-description p {
    margin-bottom: 1em;
}

#project-vimeo iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    border: 0;
}

#project-vimeo {
    grid-column: 2;
    width: 100%;
    min-width: 0;
}

.media-caption {
    font-size: 1.4rem;
    margin-left: auto !important;
    color: rgba(13, 8, 31, 0.8);
    margin-bottom: 2rem;
    text-align: right;
}

.project-sidebar {
    position: sticky;
    top: 2rem;
    align-self: start;
    font-size: 2rem;
}

.sidebar-elements {
    /* height: 20rem; */
    padding: 2rem;
}

.project-header {
    margin-bottom: 10rem;
}

.sidebar-elements p {
    margin-bottom: 6rem;
}